<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    {{>meta}}
    <title>{{nombreAplicacion}}</title>
    {{>scriptsCss}}
  </head>

  <body>
    {{>header}}
     <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Error 404</h1>
      <p class="lead">Página no encontrada</p>
    </main>
    {{>footer}}
    {{>scriptsJs}}
  </body>
</html>
