<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    {{>meta}}
    <title>{{nombreAplicacion}}</title>
    {{>scriptsCss}}
  </head>
  <body>
    {{>header}}
     <!-- Begin page content -->
    <main role="main" class="container">
        <div id="listaCoordinador" class="row my-2">
            <div class="col-md-12 mt-4 mb-4 text-center" >
            <h2>Cursos disponibles cambiar estado (Coordinador)</h2>
            </div>
            <div class="col-md-12">
            {{{tablaListaCursos}}}
            </div>
        </div>
    </main>
    {{>footer}}
    {{>scriptsJs}}

    <script type="text/javascript">
      $( document ).ready( function () {

        $('input.estado').change(function() {

          let estado = $(this).is(':checked') ? 'disponible' : 'cerrado';
          let idCurso = $(this).closest('tr').find('input[name="idCurso"]').val()

            $.ajax({
                    data:  JSON.stringify({estado: estado, idCurso: idCurso}),
                    url:   '/cambiarEstadoCurso',
                    type:  'patch',
                    contentType: 'application/json; charset=utf-8'
            }).done(function(respuesta) {

            }).fail(function(e){
              
            });
        })

      })
    </script>
  </body>
</html>